body {
	margin: 0;
	padding: 0;
	width: 960px;
	background: #4aaaa5;
	font-size: 13px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
	color: #4aaaa5;	
}
header{
	background: #ffffff;
	height: 50px;
	border-color: #cccccc;
	border-bottom: 1px solid #cccccc;;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	padding: 0px 100px 0px 100px;
	margin: 0px;	
}
nav {
	background: #ffffff;
	height: 40px;
	padding-top: 10px;
	display: inline;
	float: right;	
}
a {
	text-decoration:none;
	color: #cccccc; 
	word-spacing: 6px;	
}
section {	
	width: 630px;
	height:430px;
	color: #ffffff;
	border-color:#dddddd; 
	float: left;
	background-image: url(../image/cork-wallet.png);
	margin:0px;
	padding: 20px 20px 20px 0px;	
}
article {
	background: #ffffff;	
	margin: 20px 20px 20px 100px;
	padding: 30px;
	height:340px;
}
.TextWrapLeft{
	clear:right;
	float: left;
	margin: 19px 15px 5px 30px ;
}
.TextWrapCenter{
	clear:left;
	float: left;
	margin: 0px 15px 5px 65px ;
}
.TextWrapRight{
	clear:left;
	margin: 0px 15px 5px 146px ;
	display: inline;
}
p {	
	color: #777;
	font-size: 15px;
	font-weight: normal;
	margin: 20px 0px 0px 30px;	
	text-align: left;
	padding-right: 35px; 
}
aside {
	background-image: url(../image/cork-wallet.png);
	width: 290px;
	height: 410px;
	padding: 40px 20px 20px 0px;
	margin: 0px;
	float: left;	
	text-align: center;	
}
div{
	padding-top: 5px;
	background: #ffffff;
	width: 150px;
	height: 120px;
}
footer {
	background: #666666;
	padding-top: 15px;
	height: 35px;
	float: left;
	width: 960px;	
	font-size: 8px;
	color: #cccccc;
	margin-top: 5px;
	text-align: center;
}
h1{
	background: #4aaaa5;
	width: 200px;
	height: 40px;
	text-align: center;
	display: inline-block;	
	padding-top: 10px;
	margin: 0;
	font-size: 20px;
	color: #ffffff;
}
h2{
	text-align: left;
	color: #4aaaa5;
	font-size: 18px; 
	margin: 0px 39px 5px 30px ;
	padding: 0px 0px 10px 0px;
	border-bottom: 2px solid #cccccc;
}
h3{
	text-align: left;
	color: #cccccc;
	font-size: 12px;
	font-weight: none;
	margin-left: 30px;
	padding: 20px 0px 5px 0px;
	
}
h4 {
	margin: 10px 20px 10px 20px;
	border-bottom: 2px solid #cccccc;
	padding: 10px 0px 10px 0px;
}
input{
	margin: 0px 0px 0px 30px;
	padding: 5px 0px 0px 0px;
	border: 1px solid #cccccc;

}
textarea{
	margin: 0px 0px 0px 30px;
	width: 375px;
	height: 75px;
	border: 1px solid #cccccc;
}
.buttom{
	background:#4aaaa5;
	width: 80px;
	height: 30px;
	text-align: center;
	color: #ffffff;
	margin: 10px 0px 0px 30px;
}
.box-set {
  background: #ffffff;
  height: 305px;
  width: 440px;
  margin: 0;
  position: relative;
}
.box {
  background: #cccccc;
  margin:0;
  position: absolute; 
}
.box-1 {
  background-image: url(../image/animals-q-c-182-134-2.jpg);
  top: 20px;
  left: 30px;
  height: 85px;
  width: 160px;
}
.box-2 {
  background-image: url(../image/animals-q-c-182-134-3.jpg);
  top: 20px;
  right: 30px;
  height: 85px;
  width: 160px;  
}
.box-3 {
  background-image: url(../image/animals-q-c-182-134-4.jpg);
  top: 123px;
  left: 30px;
  height: 85px;
  width: 160px;  
}
.box-4 {
  background-image: url(../image/animals-q-c-182-134-5.jpg);	
  top: 123px;
  right: 30px; 
  height: 85px;
  width: 160px;

}
.box-5{
  background-image: url(../image/animals-q-c-182-134-7.jpg);	
  bottom: 0px;
  left: 30px;
  height: 85px;
  width: 160px;  
}
.z{
  height: 25px;
  width: 160px;
  z-index: 1;
  bottom: 5px;
  background: #4aaaa5;
  text-align: center;
  margin-top:50px; 
  font-size: 16px;
  padding-top:5px; 

}
